*~
*.o
\#*\#
.\#*
Makefile
Makefile.in
.deps

/INSTALL
/aclocal.m4
/autom4te.cache
/compile
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing

/src/gente
/src/gente-resources.c
/src/gente-resources.h
/src/timedated.c
/src/timedated.h
